{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Farm@Home{% endblock %}

{% block page_content %}
<div class="page-header">
    <a href = "http://localhost:5000/off"> Turn off GPIO 6 </a><br/>
    <a href = "http://localhost:5000/on"> Turn on GPIO 6 </a><br/>
    <a href = "http://localhost:5000/setgpio?gpioNum=16&value=Off"> Turn off GPIO 16 </a><br/>
    <a href = "http://localhost:5000/setgpio?gpioNum=16&value=On"> Turn on GPIO 16 </a><br/>
    <a href = "http://localhost:5000/setpwm?gpioNum=12&value=3"> Set PWM 12 to 3% Duty Cycle </a><br/>

</div>
<!--
    {{ wtf.quick_form(form) }}
-->
{% endblock %}
